.mainLayout{
    padding: 5%;
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.line {
    background-color: red;
}

h5.bordertitle
{   font-size: 1.5em; 
    font-weight: 600; 
    color: #003D86; 
    margin-bottom: 30px; 
    margin-top: 30px;
    padding-bottom: 5px; 
    /* border-bottom: solid 3px #eee;	 */
    position: relative;  
    }

    h5.bordertitle::before 
        {   background-color: #9ED2FF;	
            content: ''; 
            position: absolute; 
            height: 6px; 
            width: 100%;	
            max-width: 100%; 
            top: auto;	
            bottom: -6px; 
            left: 0; 
            right: auto;
        }
h1 
{   font-size: 1.7em; 
    color: #000; 
    font-weight: 600; 
    margin-bottom: 3%; 
    text-align: center;  
    text-decoration: underline;
}